@using DLL.Models
@model DLL.Models.Message[]?

@{
    ViewBag.Title = "Messages";
    Layout = "_Layout";
}

<h2>Messages</h2>

@if (Model is { Length: > 0 })
{
    <table class="table-bordered">
        <thead>
        <tr>
            <th>Id</th>
            <th>Text</th>
            <th>Details</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var message in Model ?? Enumerable.Empty<Message>())
        {
            <tr>
                <td>@message.Id</td>
                <td>@message.Text</td>
                <td>
                    <a asp-controller="Messages" asp-action="GetById" asp-route-id="@message.Id">View</a>
                </td>
                <td>
                    <a asp-controller="Messages" asp-action="Update" asp-route-id="@message.Id">Update</a>
                </td>
                <td>
                    <a asp-controller="Messages" asp-action="Delete" asp-route-id="@message.Id">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <div>No messages</div>
}
